[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
sqlalchemy = "*"
sqlalchemy-serializer = "*"
datetime = "*"
faker = "*"
python-dateutil = "*"
flask-cors = "*"
importlib-metadata = "*"
beautifulsoup4 = "*"
lxml = "*"
requests = "*"
selenium = "*"
openai = "*"
flask-restful = "*"
fuzzywuzzy = "*"
flask-bcrypt = "*"
duckduckgo-images-api = "*"

[dev-packages]

[requires]
python_version = "3.8"
